<mat-card class="p-2">
  <div class="wrapper">
    <div class="mt-4">
      <div class="arrow_right"><i class="material-icons">chevron_right</i></div>
      <div class="line">
        <div class="float-left"><i class="fas fa-graduation-cap"></i></div>
        <div style="display: inline-block"><i class="material-icons">person_pin</i></div>
        <div class="float-right"><i class="material-icons">location_on</i></div>
      </div>
      <div class="job-title">
        <div style="display: inline-block" class="float-left">Student</div>
        <div style="display: inline-block">QA</div>
        <div style="display: inline-block" class="float-right">Dev</div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="float-left pl-4"> <span class="p-2" style="color: #03B0D5">Total:</span> 3 Years</div>
  </div>
</mat-card>
