<mat-card>
  <div class="wrapper">
    <div>
      <div class="arrow_right"><i class="material-icons">chevron_right</i></div>
      <div class="line">
        <div class="float-left"><i class="fas fa-graduation-cap"></i></div>
        <div style="display: inline-block"><i class="material-icons">person_pin</i></div>
        <div class="float-right"><i class="material-icons">location_on</i></div>
      </div>
      <div class="job-title">
        <div style="display: inline-block" class="float-left">Student</div>
        <div style="display: inline-block">QA</div>
        <div style="display: inline-block" class="float-right">Dev</div>
      </div>
      <mat-divider class="mt-5"></mat-divider>

    </div>
  </div>
</mat-card>
