mat-card{
  height: 200px ;
  margin: 10px;
}
.wrapper {
  margin: auto;
  text-align: center;
  margin-bottom: 40px;
}
.divider{
  border-bottom: 1px solid rgba(0,0,0,.12);
  margin: 3%;
}
.line{
  width: 85%;
  border-bottom: 7px solid lightgray;
  margin-bottom: 7px;
}
 .arrow_right, .line{
  display: inline-block;
}
.job-title{
  width: 85%;
  display: inline-block;
  font-size: 14px;
}
mat-card{
  margin: 5%;
}
.wrapper{

}
