$wc-blue :#03B0D5;

#primary-toolbar {
  color: $wc-blue;
  .row{
    width: 100%;
    font-size: 15px;
  }
  .user-name{
    text-align: right;
  }
}
#student-image{
  width: 12%;
  border-radius: 49px;
  padding: 4px;
  margin-left: 9px;
}

